In [1]:
import pandas as pd

In [2]:
movie_metadata = pd.read_csv('MovieSummaries/movie.metadata.tsv',sep='\t')

movie_metadata.columns = ['1. Wikipedia movie ID',
                          '2. Freebase movie ID',
                          '3. Movie name',
                          '4. Movie release date',
                          '5. Movie box office revenue',
                          '6. Movie runtime',
                          '7. Movie languages (Freebase ID:name tuples)',
                          '8. Movie countries (Freebase ID:name tuples)',
                          '9. Movie genres (Freebase ID:name tuples)']

character_metadata = pd.read_csv('/Users/admin/Desktop/MovieSummaries/character.metadata.tsv',sep='\t')

character_metadata.columns = ['1. Wikipedia movie ID',
                              '2. Freebase movie ID',
                              '3. Movie release date',
                              '4. Character name',
                              '5. Actor date of birth',
                              '6. Actor gender',
                              '7. Actor height (in meters)',
                              '8. Actor ethnicity (Freebase ID)',
                              '9. Actor name',
                              '10. Actor age at movie release',
                              '11. Freebase character/actor map ID',
                              '12. Freebase character ID',
                              '13. Freebase actor ID']

print(movie_metadata)

print(character_metadata)

       1. Wikipedia movie ID 2. Freebase movie ID  \
0                    3196793            /m/08yl5d
1                   28463795           /m/0crgdbh
2                    9363483           /m/0285_cd
3                     261236            /m/01mrr1
4                   13696889           /m/03cfc81
...                      ...                  ...
81735               35228177           /m/0j7hxnt
81736               34980460           /m/0g4pl34
81737                9971909           /m/02pygw1
81738                 913762            /m/03pcrp
81739               12476867           /m/02w7zz8

                                           3. Movie name  \
0      Getting Away with Murder: The JonBen√©t Ramsey ...
1                                            Brun bitter
2                                       White Of The Eye
3                                      A Woman in Flames
4                                          The Gangsters
...                                                  ...
81735                           Mermaids: The Body Found
81736                                            Knuckle
81737                                  Another Nice Mess
81738  The Super Dimension Fortress Macross II: Lover...
81739                                            Spliced

      4. Movie release date  5. Movie box office revenue  6. Movie runtime  \
0                2000-02-16                          NaN              95.0
1                      1988                          NaN              83.0
2                      1987                          NaN             110.0
3                      1983                          NaN             106.0
4                1913-05-29                          NaN              35.0
...                     ...                          ...               ...
81735            2011-03-19                          NaN             120.0
81736            2011-01-21                          NaN              96.0
81737            1972-09-22                          NaN              66.0
81738            1992-05-21                          NaN             150.0
81739                  2002                          NaN              86.0

            7. Movie languages (Freebase ID:name tuples)  \
0                     {"/m/02h40lc": "English Language"}
1                     {"/m/05f_3": "Norwegian Language"}
2                     {"/m/02h40lc": "English Language"}
3                      {"/m/04306rv": "German Language"}
4      {"/m/06ppq": "Silent film", "/m/02h40lc": "Eng...
...                                                  ...
81735                 {"/m/02h40lc": "English Language"}
81736                 {"/m/02h40lc": "English Language"}
81737                 {"/m/02h40lc": "English Language"}
81738                  {"/m/03_9r": "Japanese Language"}
81739                 {"/m/02h40lc": "English Language"}

            8. Movie countries (Freebase ID:name tuples)  \
0              {"/m/09c7w0": "United States of America"}
1                                 {"/m/05b4w": "Norway"}
2                         {"/m/07ssc": "United Kingdom"}
3                                {"/m/0345h": "Germany"}
4              {"/m/09c7w0": "United States of America"}
...                                                  ...
81735          {"/m/09c7w0": "United States of America"}
81736  {"/m/03rt9": "Ireland", "/m/07ssc": "United Ki...
81737          {"/m/09c7w0": "United States of America"}
81738                              {"/m/03_3d": "Japan"}
81739                            {"/m/0d060g": "Canada"}

               9. Movie genres (Freebase ID:name tuples)
0      {"/m/02n4kr": "Mystery", "/m/03bxz7": "Biograp...
1      {"/m/0lsxr": "Crime Fiction", "/m/07s9rl0": "D...
2      {"/m/01jfsb": "Thriller", "/m/0glj9q": "Erotic...
3                                {"/m/07s9rl0": "Drama"}
4      {"/m/02hmvc": "Short Film", "/m/06ppq": "Silen...
...                                                  ...
81735                            {"/m/07s9rl0": "Drama"}
81736  {"/m/03bxz7": "Biographical film", "/m/07s9rl0...
81737       {"/m/06nbt": "Satire", "/m/01z4y": "Comedy"}
81738  {"/m/06n90": "Science Fiction", "/m/0gw5n2f": ...
81739  {"/m/01jfsb": "Thriller", "/m/03npn": "Horror"...

[81740 rows x 9 columns]
        1. Wikipedia movie ID 2. Freebase movie ID 3. Movie release date  \
0                      975900            /m/03vyhn            2001-08-24
1                      975900            /m/03vyhn            2001-08-24
2                      975900            /m/03vyhn            2001-08-24
3                      975900            /m/03vyhn            2001-08-24
4                      975900            /m/03vyhn            2001-08-24
...                       ...                  ...                   ...
450663                 913762            /m/03pcrp            1992-05-21
450664                 913762            /m/03pcrp            1992-05-21
450665               28308153           /m/0cp05t9                  1957
450666               28308153           /m/0cp05t9                  1957
450667               28308153           /m/0cp05t9                  1957

                 4. Character name 5. Actor date of birth 6. Actor gender  \
0       Lieutenant Melanie Ballard             1974-08-15               F
1              Desolation Williams             1969-06-15               M
2               Sgt Jericho Butler             1967-09-12               M
3                  Bashira Kincaid             1977-09-25               F
4        Commander Helena Braddock             1949-05-26               F
...                            ...                    ...             ...
450663                      Elensh                1970-05               F
450664                      Hibiki             1965-04-12               M
450665                         NaN             1941-11-18               M
450666                         NaN                    NaN             NaN
450667                         NaN                    NaN             NaN

        7. Actor height (in meters) 8. Actor ethnicity (Freebase ID)  \
0                             1.780                       /m/044038p
1                             1.727                          /m/0x67
2                             1.750                              NaN
3                             1.650                              NaN
4                             1.727                          /m/0x67
...                             ...                              ...
450663                          NaN                              NaN
450664                          NaN                              NaN
450665                        1.730                        /m/02w7gg
450666                          NaN                              NaN
450667                          NaN                              NaN

             9. Actor name  10. Actor age at movie release  \
0       Natasha Henstridge                            27.0
1                 Ice Cube                            32.0
2            Jason Statham                            33.0
3              Clea DuVall                            23.0
4                Pam Grier                            52.0
...                    ...                             ...
450663  Dorothy Elias-Fahn                             NaN
450664       Jonathan Fahn                            27.0
450665      David Hemmings                            15.0
450666    Roberta Paterson                             NaN
450667         John Rogers                             NaN

       11. Freebase character/actor map ID 12. Freebase character ID  \
0                                /m/0jys3m                /m/0bgchn4
1                                /m/0jys3g                /m/0bgchn_
2                               /m/02vchl6                /m/0bgchnq
3                               /m/02vbb3r                /m/0bgchp9
4                               /m/02vdcfp                /m/0bgchnd
...                                    ...                       ...
450663                          /m/0kr406c                /m/0kr406h
450664                          /m/0kr405_                /m/0kr4090
450665                          /m/0g8ngmc                       NaN
450666                          /m/0g8ngmj                       NaN
450667                          /m/0g8ngmw                       NaN

       13. Freebase actor ID
0                  /m/0346l4
1                 /m/01vw26l
2                  /m/034hyc
3                  /m/01y9xg
4                  /m/0418ft
...                      ...
450663             /m/0b_vcv
450664             /m/0bx7_j
450665             /m/022g44
450666            /m/0g8ngmm
450667            /m/0btz19d

[450668 rows x 13 columns]