In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_table('MovieSummaries/character.metadata.tsv')
print(df)

          975900   /m/03vyhn  2001-08-24                    Akooshay  \
0         975900   /m/03vyhn  2001-08-24  Lieutenant Melanie Ballard
1         975900   /m/03vyhn  2001-08-24         Desolation Williams
2         975900   /m/03vyhn  2001-08-24          Sgt Jericho Butler
3         975900   /m/03vyhn  2001-08-24             Bashira Kincaid
4         975900   /m/03vyhn  2001-08-24   Commander Helena Braddock
...          ...         ...         ...                         ...
450663    913762   /m/03pcrp  1992-05-21                      Elensh
450664    913762   /m/03pcrp  1992-05-21                      Hibiki
450665  28308153  /m/0cp05t9        1957                         NaN
450666  28308153  /m/0cp05t9        1957                         NaN
450667  28308153  /m/0cp05t9        1957                         NaN

        1958-08-26    F   1.62  Unnamed: 7      Wanda De Jesus    42  \
0       1974-08-15    F  1.780  /m/044038p  Natasha Henstridge  27.0
1       1969-06-15    M  1.727     /m/0x67            Ice Cube  32.0
2       1967-09-12    M  1.750         NaN       Jason Statham  33.0
3       1977-09-25    F  1.650         NaN         Clea DuVall  23.0
4       1949-05-26    F  1.727     /m/0x67           Pam Grier  52.0
...            ...  ...    ...         ...                 ...   ...
450663     1970-05    F    NaN         NaN  Dorothy Elias-Fahn   NaN
450664  1965-04-12    M    NaN         NaN       Jonathan Fahn  27.0
450665  1941-11-18    M  1.730   /m/02w7gg      David Hemmings  15.0
450666         NaN  NaN    NaN         NaN    Roberta Paterson   NaN
450667         NaN  NaN    NaN         NaN         John Rogers   NaN

        /m/0bgchxw  /m/0bgcj3x  /m/03wcfv7
0        /m/0jys3m  /m/0bgchn4   /m/0346l4
1        /m/0jys3g  /m/0bgchn_  /m/01vw26l
2       /m/02vchl6  /m/0bgchnq   /m/034hyc
3       /m/02vbb3r  /m/0bgchp9   /m/01y9xg
4       /m/02vdcfp  /m/0bgchnd   /m/0418ft
...            ...         ...         ...
450663  /m/0kr406c  /m/0kr406h   /m/0b_vcv
450664  /m/0kr405_  /m/0kr4090   /m/0bx7_j
450665  /m/0g8ngmc         NaN   /m/022g44
450666  /m/0g8ngmj         NaN  /m/0g8ngmm
450667  /m/0g8ngmw         NaN  /m/0btz19d

[450668 rows x 13 columns]