In [252]:
import pandas as pd
import numpy as np
from nltk.tokenize import RegexpTokenizer
pd.options.mode.chained_assignment = None

movie_metadata = pd.read_csv('MovieSummaries/movie.metadata.tsv',sep='\t')

movie_metadata.columns = ['1. Wikipedia movie ID',
                          '2. Freebase movie ID',
                          '3. Movie name',
                          '4. Movie release date',
                          '5. Movie box office revenue',
                          '6. Movie runtime',
                          '7. Movie languages (Freebase ID:name tuples)',
                          '8. Movie countries (Freebase ID:name tuples)',
                          '9. Movie genres (Freebase ID:name tuples)']

character_metadata = pd.read_csv('MovieSummaries/character.metadata.tsv',sep='\t')

character_metadata.columns = ['1. Wikipedia movie ID',
                              '2. Freebase movie ID',
                              '3. Movie release date',
                              '4. Character name',
                              '5. Actor date of birth',
                              '6. Actor gender',
                              '7. Actor height (in meters)',
                              '8. Actor ethnicity (Freebase ID)',
                              '9. Actor name',
                              '10. Actor age at movie release',
                              '11. Freebase character/actor map ID',
                              '12. Freebase character ID',
                              '13. Freebase actor ID']

movie_metadata_bechdel = pd.read_csv("CMU_bechdel_added.csv")
print(movie_metadata_bechdel.shape)
movie_metadata_bechdel = movie_metadata_bechdel.drop("Unnamed: 0", axis=1)


character_metadata_bechdel = character_metadata.copy(deep = True)
print("Size before:", character_metadata_bechdel.shape)
character_metadata_bechdel = character_metadata_bechdel[character_metadata_bechdel['2. Freebase movie ID'].isin(movie_metadata_bechdel["2. Freebase movie ID"].to_numpy())]
print("Size after:", character_metadata_bechdel.shape)

(6521, 11)
Size before: (450668, 13)
Size after: (72458, 13)

In [194]:
print(movie_metadata_bechdel.shape)
movie_metadata_bechdel = movie_metadata_bechdel[movie_metadata_bechdel['2. Freebase movie ID'].isin(character_metadata_bechdel["2. Freebase movie ID"].to_numpy())]
print(movie_metadata_bechdel.shape)

(6521, 10)
(6202, 10)

In [195]:
plot_summaries=pd.read_csv('MovieSummaries/plot_summaries.txt', sep='\t', header=None, names=['id', 'plot_summary'])
plot_summaries_bechdel = plot_summaries[plot_summaries['id'].isin(character_metadata_bechdel['1. Wikipedia movie ID'].to_numpy())]

plot_summaries.head()
print(plot_summaries.shape)
print(plot_summaries_bechdel.shape)

(42303, 2)
(5194, 2)

In [281]:
movie_idx = 255

def calculate_actor_mention_score(movie_idx):
    movie_summary = plot_summaries_bechdel.iloc[movie_idx]["plot_summary"]
    
    #Tokenize the movie summary
    tokens = tokenizer.tokenize(movie_summary)
    tokens = [x.lower() for x in tokens]
    tokens_freq = pd.Series(tokens).value_counts(sort=True)
    
    #align movie dataset & character dataset
    movie_id = plot_summaries_bechdel.iloc[movie_idx]["id"]
    character_list = character_metadata_bechdel[character_metadata_bechdel['1. Wikipedia movie ID'] == movie_id][['4. Character name','6. Actor gender']]
    
    """
    character_list_processed = character_list.copy()
    character_list_processed = character_list_processed.dropna()
    
    #Lowercase character names
    character_list_processed["4. Character name"] = character_list_processed["4. Character name"].str.lower()

    #Split name and surname to two columns
    character_list_processed[["4. Character name", "4.5. Character surname"]] = character_list_processed["4. Character name"].str.split(' ', n=1, expand=True)

    #Stack two columns as rows as if surnames are different characters
    character_list_stacked = character_list_processed[["4. Character name", "4.5. Character surname"]].stack()

    #Duplicate and stack gender column so that dataframe matches
    character_gender_stacked = pd.concat([character_list_processed["6. Actor gender"],character_list_processed["6. Actor gender"]])
    character_gender_stacked = pd.concat([pd.Series(character_list_stacked.to_numpy()), pd.Series(character_gender_stacked.to_numpy())], axis = 1)
    character_gender_stacked_idx = character_gender_stacked.set_index(0)
    
    #Take the intersection between the token's frequency and movie cast
    tokens_intersection = tokens_freq[character_gender_stacked_idx.index.intersection(tokens_freq.index)]
    character_mention_freq = character_gender_stacked[character_gender_stacked[0].isin(character_gender_stacked_idx.index.intersection(tokens_freq.index))]

    #Add the number of character mentions in summary to the character meta-dataset
    character_mention_freq["no_mention"] = tokens_intersection.values#pd.DataFrame({'4. Character name':character_mention_freq[0], 'no_mention':character_mention_freq.values})
    character_mention_freq.columns = ["character_name", "gender", "no_mention"]
    character_list_final = character_mention_freq
    #print(character_list_final)
    """
    
    
    character_list_processed = character_list.copy()
    character_list_processed = character_list_processed.dropna()

    #Lowercase character names
    character_list_processed["4. Character name"] = character_list_processed["4. Character name"].str.lower()

    #Split full name and only get the first name
    character_list_processed["4. Character name"] = character_list_processed["4. Character name"].str.split(' ').str[0]

    character_list_processed = character_list_processed.drop(character_list_processed[character_list_processed["4. Character name"] == "the"].index)

    character_gender_stacked = character_list_processed.drop_duplicates(subset='4. Character name', keep=False)
    character_gender_stacked_idx = character_gender_stacked.set_index("4. Character name")

    #Take the intersection between the token's frequency and movie cast
    tokens_intersection = tokens_freq[character_gender_stacked_idx.index.intersection(tokens_freq.index)]
    character_gender_stacked = character_gender_stacked.drop_duplicates()
    character_mention_freq = character_gender_stacked[character_gender_stacked["4. Character name"].isin(tokens_intersection.index)]#.drop_duplicates()

    #Add the number of character mentions in summary to the character meta-dataset
    character_mention_freq["no_mention"] = tokens_intersection.values#pd.DataFrame({'4. Character name':character_mention_freq[0], 'no_mention':character_mention_freq.values})
    character_mention_freq.columns = ["character_name", "gender", "no_mention"]
    character_list_final = character_mention_freq
    #print(character_list_final)
    
    #Group by gender and calculate total number of mentions by gender
    character_list_freq_added = character_list_final.groupby(['gender']).sum()
    if len(character_list_freq_added['no_mention'].index) != 0:
        if character_list_freq_added['no_mention'].shape[0] == 2:
            female_mention, male_mention = character_list_freq_added['no_mention'][0], character_list_freq_added['no_mention'][1] #groupby is alphabethic, index 0 = F
            mention_ratio = female_mention/(female_mention + male_mention)
        elif character_list_freq_added['no_mention'].index[0] == "M":
            mention_ratio = 0.
        elif character_list_freq_added['no_mention'].index[0] == "F":
            mention_ratio = 1.
        else:
            mention_ratio = np.nan
    else:
        mention_ratio = np.nan

    actor_mention_score = round(mention_ratio, 4)
    
    return actor_mention_score, movie_id

In [283]:
import time
beginning = time.time()
for a in range(1,1000):
    #print(a)
    _,_ = calculate_actor_mention_score(a)

print(time.time() - beginning)

5.853267192840576

In [270]:
movie_idx = 26
sample_text = plot_summaries_bechdel.iloc[movie_idx]["plot_summary"]
print(sample_text)
tokens = tokenizer.tokenize(sample_text)
tokens = [x.lower() for x in tokens]
tokens_freq = pd.Series(tokens).value_counts(sort=True)
print(tokens)
print(tokens_freq)
first_movie_id = plot_summaries_bechdel.iloc[movie_idx]["id"]
character_list = character_metadata_bechdel[character_metadata_bechdel['1. Wikipedia movie ID'] == first_movie_id][['4. Character name','6. Actor gender']]
print(character_list)

Pompous paleontologist Rick Marshall  has a low-level job at the La Brea Tar Pits, three years after a disastrous interview with Matt Lauer of Today became a viral video and ruined his career. Doctoral candidate student Holly Cantrell  tells him that his controversial theories combining time warps and paleontology inspired her. She shows him a fossil with an imprint of a cigarette lighter that he recognizes as his own along with a crystal made into a necklace that gives off strong tachyon energy. She convinces him to finish his tachyon amplifier and come help her on a seemingly routine expedition to the cave where Holly found the fossil, which is in the middle of nowhere. With cave gift shop owner Will Stanton ([[Danny McBride  they raft into the cave, where Marshall has detected high levels of tachyons. He activates the tachyon amplifier, triggering an earthquake that opens a time warp into which the raft falls. The group finds themselves in a desert, filled with various items from many eras, and without the amplifier. They rescue a primate-like creature, Cha-Ka  of the Pakuni tribe, who becomes their friend and guide. The gang spends a night in a cave after surviving a meeting with a fast, intelligent Tyrannosaurus they nickname "Grumpy", who develops a vendetta against Marshall for calling him stupid. Marshall receives a telepathic message begging for help and ends up in ancient ruins. There, the group encounters a race of lizard men called Sleestaks before meeting the one who sent Marshall the telepathic message, Enik the Altrusian. He explains that he was exiled by the evil Zarn who is attempting to take over Earth with his Sleestak minions, but Enik can prevent this if Marshall retrieves the tachyon amplifier. The group stumble upon a desert where many things from across time end up and they encounter many Compsognathus, Velociraptors, Grumpy, and an Allosaurus. The Allosaurus and Grumpy battle it out over the most recent thing to appear until they sense Marshall and chase him. Marshall kills the Allosaurus with liquid nitrogen and finds that the amplifier was inside the Allosaurus. The amplifier is stolen by a Pteranodon and taken to its nest. The group arrives at the nest and Marshall lightly steps through the Pteranadon eggs to retrieve the amplifier, but when he reaches it, it stops broadcasting the soundtrack to Marshalls favorite musical A Chorus Line. When the eggs begin to hatch, Holly realizes that the music was acting as a sort of lullaby keeping the Pteranadons asleep. Marshall, Will and Holly belt out "I Hope I Get It", with Cha-ka inexplicably joining in, displaying an impressive singing voice. Marshall, Will and Cha-ka celebrate their good fortune. Meanwhile, Holly pockets a dinosaur egg and learns from a recording left by the long-deceased Zarn that Enik deceived them and is actually the one planning to invade Earth, but is captured by the Sleestaks to be brought to the Library of Skulls for judgment. The others save her from being executed for helping Enik, but the villain&mdash;now possessing the amplifier, and mind-controlling the Sleestaks&mdash;leaves them to open a portal to Earth. Marshall quickly settles things with Grumpy, befriending him, and joins the others to defeat the Sleestak army and confront Enik. After the crystal link between the Land of the Lost and Earth is shattered, Will chooses to stay behind to live a better life and to prevent Enik from following Marshall and Holly back to Earth, learning later that female Pakuni are very attractive. A triumphant Marshall again appears on Today with show the dinosaur egg Holly brought back to promote his new book Matt Lauer Can Suck It. However, left behind on the Today set, the egg turns out to be a Sleestak egg as a baby hatches from it.
['pompous', 'paleontologist', 'rick', 'marshall', 'has', 'a', 'low', 'level', 'job', 'at', 'the', 'la', 'brea', 'tar', 'pits', 'three', 'years', 'after', 'a', 'disastrous', 'interview', 'with', 'matt', 'lauer', 'of', 'today', 'became', 'a', 'viral', 'video', 'and', 'ruined', 'his', 'career', 'doctoral', 'candidate', 'student', 'holly', 'cantrell', 'tells', 'him', 'that', 'his', 'controversial', 'theories', 'combining', 'time', 'warps', 'and', 'paleontology', 'inspired', 'her', 'she', 'shows', 'him', 'a', 'fossil', 'with', 'an', 'imprint', 'of', 'a', 'cigarette', 'lighter', 'that', 'he', 'recognizes', 'as', 'his', 'own', 'along', 'with', 'a', 'crystal', 'made', 'into', 'a', 'necklace', 'that', 'gives', 'off', 'strong', 'tachyon', 'energy', 'she', 'convinces', 'him', 'to', 'finish', 'his', 'tachyon', 'amplifier', 'and', 'come', 'help', 'her', 'on', 'a', 'seemingly', 'routine', 'expedition', 'to', 'the', 'cave', 'where', 'holly', 'found', 'the', 'fossil', 'which', 'is', 'in', 'the', 'middle', 'of', 'nowhere', 'with', 'cave', 'gift', 'shop', 'owner', 'will', 'stanton', 'danny', 'mcbride', 'they', 'raft', 'into', 'the', 'cave', 'where', 'marshall', 'has', 'detected', 'high', 'levels', 'of', 'tachyons', 'he', 'activates', 'the', 'tachyon', 'amplifier', 'triggering', 'an', 'earthquake', 'that', 'opens', 'a', 'time', 'warp', 'into', 'which', 'the', 'raft', 'falls', 'the', 'group', 'finds', 'themselves', 'in', 'a', 'desert', 'filled', 'with', 'various', 'items', 'from', 'many', 'eras', 'and', 'without', 'the', 'amplifier', 'they', 'rescue', 'a', 'primate', 'like', 'creature', 'cha', 'ka', 'of', 'the', 'pakuni', 'tribe', 'who', 'becomes', 'their', 'friend', 'and', 'guide', 'the', 'gang', 'spends', 'a', 'night', 'in', 'a', 'cave', 'after', 'surviving', 'a', 'meeting', 'with', 'a', 'fast', 'intelligent', 'tyrannosaurus', 'they', 'nickname', 'grumpy', 'who', 'develops', 'a', 'vendetta', 'against', 'marshall', 'for', 'calling', 'him', 'stupid', 'marshall', 'receives', 'a', 'telepathic', 'message', 'begging', 'for', 'help', 'and', 'ends', 'up', 'in', 'ancient', 'ruins', 'there', 'the', 'group', 'encounters', 'a', 'race', 'of', 'lizard', 'men', 'called', 'sleestaks', 'before', 'meeting', 'the', 'one', 'who', 'sent', 'marshall', 'the', 'telepathic', 'message', 'enik', 'the', 'altrusian', 'he', 'explains', 'that', 'he', 'was', 'exiled', 'by', 'the', 'evil', 'zarn', 'who', 'is', 'attempting', 'to', 'take', 'over', 'earth', 'with', 'his', 'sleestak', 'minions', 'but', 'enik', 'can', 'prevent', 'this', 'if', 'marshall', 'retrieves', 'the', 'tachyon', 'amplifier', 'the', 'group', 'stumble', 'upon', 'a', 'desert', 'where', 'many', 'things', 'from', 'across', 'time', 'end', 'up', 'and', 'they', 'encounter', 'many', 'compsognathus', 'velociraptors', 'grumpy', 'and', 'an', 'allosaurus', 'the', 'allosaurus', 'and', 'grumpy', 'battle', 'it', 'out', 'over', 'the', 'most', 'recent', 'thing', 'to', 'appear', 'until', 'they', 'sense', 'marshall', 'and', 'chase', 'him', 'marshall', 'kills', 'the', 'allosaurus', 'with', 'liquid', 'nitrogen', 'and', 'finds', 'that', 'the', 'amplifier', 'was', 'inside', 'the', 'allosaurus', 'the', 'amplifier', 'is', 'stolen', 'by', 'a', 'pteranodon', 'and', 'taken', 'to', 'its', 'nest', 'the', 'group', 'arrives', 'at', 'the', 'nest', 'and', 'marshall', 'lightly', 'steps', 'through', 'the', 'pteranadon', 'eggs', 'to', 'retrieve', 'the', 'amplifier', 'but', 'when', 'he', 'reaches', 'it', 'it', 'stops', 'broadcasting', 'the', 'soundtrack', 'to', 'marshalls', 'favorite', 'musical', 'a', 'chorus', 'line', 'when', 'the', 'eggs', 'begin', 'to', 'hatch', 'holly', 'realizes', 'that', 'the', 'music', 'was', 'acting', 'as', 'a', 'sort', 'of', 'lullaby', 'keeping', 'the', 'pteranadons', 'asleep', 'marshall', 'will', 'and', 'holly', 'belt', 'out', 'i', 'hope', 'i', 'get', 'it', 'with', 'cha', 'ka', 'inexplicably', 'joining', 'in', 'displaying', 'an', 'impressive', 'singing', 'voice', 'marshall', 'will', 'and', 'cha', 'ka', 'celebrate', 'their', 'good', 'fortune', 'meanwhile', 'holly', 'pockets', 'a', 'dinosaur', 'egg', 'and', 'learns', 'from', 'a', 'recording', 'left', 'by', 'the', 'long', 'deceased', 'zarn', 'that', 'enik', 'deceived', 'them', 'and', 'is', 'actually', 'the', 'one', 'planning', 'to', 'invade', 'earth', 'but', 'is', 'captured', 'by', 'the', 'sleestaks', 'to', 'be', 'brought', 'to', 'the', 'library', 'of', 'skulls', 'for', 'judgment', 'the', 'others', 'save', 'her', 'from', 'being', 'executed', 'for', 'helping', 'enik', 'but', 'the', 'villain', 'mdash', 'now', 'possessing', 'the', 'amplifier', 'and', 'mind', 'controlling', 'the', 'sleestaks', 'mdash', 'leaves', 'them', 'to', 'open', 'a', 'portal', 'to', 'earth', 'marshall', 'quickly', 'settles', 'things', 'with', 'grumpy', 'befriending', 'him', 'and', 'joins', 'the', 'others', 'to', 'defeat', 'the', 'sleestak', 'army', 'and', 'confront', 'enik', 'after', 'the', 'crystal', 'link', 'between', 'the', 'land', 'of', 'the', 'lost', 'and', 'earth', 'is', 'shattered', 'will', 'chooses', 'to', 'stay', 'behind', 'to', 'live', 'a', 'better', 'life', 'and', 'to', 'prevent', 'enik', 'from', 'following', 'marshall', 'and', 'holly', 'back', 'to', 'earth', 'learning', 'later', 'that', 'female', 'pakuni', 'are', 'very', 'attractive', 'a', 'triumphant', 'marshall', 'again', 'appears', 'on', 'today', 'with', 'show', 'the', 'dinosaur', 'egg', 'holly', 'brought', 'back', 'to', 'promote', 'his', 'new', 'book', 'matt', 'lauer', 'can', 'suck', 'it', 'however', 'left', 'behind', 'on', 'the', 'today', 'set', 'the', 'egg', 'turns', 'out', 'to', 'be', 'a', 'sleestak', 'egg', 'as', 'a', 'baby', 'hatches', 'from', 'it']
the         48
a           29
and         23
to          20
marshall    14
            ..
develops     1
vendetta     1
against      1
calling      1
hatches      1
Name: count, Length: 325, dtype: int64
        4. Character name 6. Actor gender
262483           Teenager               M
262484  Dr. Rick Marshall               M
262485     Holly Cantrell               F
262486       Will Stanton               M
262487             Cha-Ka               M
262488               Enik               M
262489                NaN               M
262490       Tar Pits Kid               M
262491       Tar Pits Kid               F
262492            Teacher               M
262493           Teenager               M
262494          Astronaut               M
262495           The Zarn               M
262496              Ernie               M
262497              Barry               M

In [280]:
character_list_processed = character_list.copy()
character_list_processed = character_list_processed.dropna()
#Lowercase character names
character_list_processed["4. Character name"] = character_list_processed["4. Character name"].str.lower()
#print(character_list_processed)
#Split name and surname to two columns
#character_list_processed["4. Character name"] = character_list_processed["4. Character name"].str.split('-').str[0] #corner case
character_list_processed["4. Character name"] = character_list_processed["4. Character name"].str.split(' ').str[0]


character_list_processed = character_list_processed.drop(character_list_processed[character_list_processed["4. Character name"] == "the"].index)
character_gender_stacked = character_list_processed.drop_duplicates(subset='4. Character name', keep=False)

print(character_list_processed)
print(character_gender_stacked)
#Stack two columns as rows as if surnames are different characters
#character_list_stacked = character_list_processed[["4. Character name", "4.5. Character surname"]].stack()

#Duplicate and stack gender column so that dataframe matches
#character_gender_stacked = pd.concat([character_list_processed["6. Actor gender"],character_list_processed["6. Actor gender"]])
#character_gender_stacked = pd.concat([pd.Series(character_list_stacked.to_numpy()), pd.Series(character_gender_stacked.to_numpy())], axis = 1)
character_gender_stacked_idx = character_gender_stacked.set_index("4. Character name")
#print(character_gender_stacked)
#print(tokens_freq)
#print(character_gender_stacked)
#print(tokens_freq.index)
#print(character_gender_stacked_idx.index.intersection(tokens_freq.index))
#print(tokens_freq[character_gender_stacked_idx.index.intersection(tokens_freq.index)])


tokens_intersection = tokens_freq[character_gender_stacked_idx.index.intersection(tokens_freq.index)]
character_gender_stacked = character_gender_stacked.drop_duplicates()
print(tokens_intersection)
print(character_gender_stacked)
#Get the intersection between the tokens and characters dataframe
character_mention_freq = character_gender_stacked[character_gender_stacked["4. Character name"].isin(tokens_intersection.index)]#.drop_duplicates()
print(tokens_intersection)
print("heree")
print(tokens_intersection.values)
print(character_mention_freq)
character_mention_freq["no_mention"] = tokens_intersection.values#pd.DataFrame({'4. Character name':character_mention_freq[0], 'no_mention':character_mention_freq.values})
character_mention_freq.columns = ["character_name", "gender", "no_mention"]
character_list_final = character_mention_freq
print(character_list_final)

#character_list1 = character_list[character_list["4. Character name"].isin(tokens_freq.index.intersection(character_list["4. Character name"]).to_numpy())]
#print(character_list1.sort_values(by=["4. Character name"]))

       4. Character name 6. Actor gender
262483          teenager               M
262484               dr.               M
262485             holly               F
262486              will               M
262487            cha-ka               M
262488              enik               M
262490               tar               M
262491               tar               F
262492           teacher               M
262493          teenager               M
262494         astronaut               M
262496             ernie               M
262497             barry               M
       4. Character name 6. Actor gender
262484               dr.               M
262485             holly               F
262486              will               M
262487            cha-ka               M
262488              enik               M
262492           teacher               M
262494         astronaut               M
262496             ernie               M
262497             barry               M
holly    7
will     4
enik     6
Name: count, dtype: int64
       4. Character name 6. Actor gender
262484               dr.               M
262485             holly               F
262486              will               M
262487            cha-ka               M
262488              enik               M
262492           teacher               M
262494         astronaut               M
262496             ernie               M
262497             barry               M
holly    7
will     4
enik     6
Name: count, dtype: int64
heree
[7 4 6]
       4. Character name 6. Actor gender
262485             holly               F
262486              will               M
262488              enik               M
       character_name gender  no_mention
262485          holly      F           7
262486           will      M           4
262488           enik      M           6

In [267]:
#print(character_list)
#character_list_freq_added = pd.merge(character_list, character_mention_freq, on="4. Character name", how="left")
#print(character_list_freq_added)

character_list_freq_added = character_list_final.groupby(['gender']).sum() 

if len(character_list_freq_added['no_mention'].index) != 0:
    if character_list_freq_added['no_mention'].shape[0] == 2:
        female_mention, male_mention = character_list_freq_added['no_mention'][0], character_list_freq_added['no_mention'][1] #groupby is alphabethic, index 0 = F
        mention_ratio = female_mention/(female_mention + male_mention)
    elif character_list_freq_added['no_mention'].index[0] == "M":
        mention_ratio = 0.
    elif character_list_freq_added['no_mention'].index[0] == "F":
        mention_ratio = 1.
    else:
        mention_ratio = np.nan
else:
    mention_ratio = np.nan
    
print(mention_ratio)

nan